@media only screen and (max-width:1024px){
    .row {
        margin: 0 1.5rem;
    }
    .main-nav{
        display:
    }
    html{
        font-size: 57.5%;
    }
    .client-photo{
        
        float: none;
        text-align: center;
    }
    .client-review{
        float: none;
        width: 100%;
       
    }

}
@media only screen and (max-width:1024px){
    .col.span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
        
    }
    .col{
        margin-left: 0;
    }
    .contact-section form{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width:400px){
    .col.span_1_of_4{
        width: 100%;
    }
    .contact-section .little-description{
padding: 0;

    }
    .little-description{
        padding: 0;
    }
    .section-icon{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .main-nav{
        display:none
    }
    .mobile-menu span{
        display: block;
    }
    span..overly {
        display: block;
    }
    a.close-btn {
        display: block;
    }
}